#rootPane {
    -fx-background-color: #f1effa;
}

#clubTitleLabel {
    -fx-background-color: #f1effa;
    -fx-border-color: #000000;
    -fx-border-radius: 2px;
    -fx-border-width: 2px;
}
#addEditProject, #addMemberButton, #computeStatButton, #approveButton, #signOutButton {
    -fx-background-color: #396cdb;
    -fx-border-color: #c0d100;
    -fx-border-radius: 2px;
    -fx-border-width: 2px;
    -fx-text-fill: #d1e309;
}